<mat-sidenav-container class="layout-container" autosize>

  <mat-sidenav mode="side" opened class="sidebar" [class.collapsed]="isCollapsed()">

    <div class="logo">
      @if (isCollapsed()) {
      <span>JP</span>
      } @else {
      <span>Job Portal</span>
      }
    </div>

    <mat-nav-list>
      @for (item of items; track item) {
      <a class="d-flex align-items-center gap-2 mx-1 text-decoration-none" mat-list-item routerLink="{{item.link}}">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
      </a>
      }

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="header">
      <button mat-icon-button (click)="toggleSidebar()">
        @if (!isCollapsed()) {
        <mat-icon>menu</mat-icon>
        } @else {
        <mat-icon>menu_open</mat-icon>
        }
      </button>
      <span class="page-title">Admin Dashboard</span>

      <span class="spacer"></span>

      <div class="d-flex align-items-center gap-2">
        <!-- <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button> -->

        <button class="matFab" matIconButton (click)="onLogout()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
